<%= image_tag "dishaa_logo.png", class: "img-responsive major-logo center-block" %>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
     
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    
      <%= f.submit "Log In", class: "btn btn-primary btn-submit" %>
    <% end %>
  </div>
</div>
